{% extends "base.html" %}

{% block title %}Signup - Bolio Video2Text Converter{% endblock %}
{% block subtitle %}Sign up to convert your videos to text effortlessly.{% endblock %}
{% block content %}
<form id="signupForm" action="/signup" method="POST" onsubmit="return validateForm(event)" class="flex flex-col gap-6">
    <div>
        <label for="username" class="block text-gray-700 font-semibold mb-2">Username:</label>
        <input type="text" id="username" name="username" class="border p-2 rounded-md w-full" required />
    </div>

    <div>
        <label for="email" class="block text-gray-700 font-semibold mb-2">Email Address:</label>
        <input type="email" id="email" name="email" class="border p-2 rounded-md w-full" required />
    </div>

    <div>
        <label for="password" class="block text-gray-700 font-semibold mb-2">Password:</label>
        <input type="password" id="password" name="password" class="border p-2 rounded-md w-full" required />
    </div>

    <div>
        <label for="confirm-password" class="block text-gray-700 font-semibold mb-2">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm_password" class="border p-2 rounded-md w-full"
            required />
    </div>

    <div class="text-center">
        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-md">
            Signup
        </button>
    </div>
</form>
{% endblock %}
