{% extends "base.html" %}

{% block title %}Login - Bolio Video2Text Converter{% endblock %}
{% block subtitle %}Log in to convert your videos to text effortlessly.{% endblock %}
{% block content %}
<h2 class="text-xl font-semibold text-center mb-6 text-gray-700">Welcome Back!</h2>
<form action="/signin" method="POST" class="flex flex-col gap-6">
    <div>
        <label for="username" class="block text-gray-700 font-semibold mb-2">Username:</label>
        <input type="text" id="username" name="username" class="border p-2 rounded-md w-full" required />
    </div>

    <div>
        <label for="password" class="block text-gray-700 font-semibold mb-2">Password:</label>
        <input type="password" id="password" name="password" class="border p-2 rounded-md w-full" required />
    </div>

    <div class="text-center">
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md">
            Login
        </button>
    </div>
</form>
{% endblock %}
